<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/mainpage.css">
        <title>Keung's Shop</title>
    </head>

    <body >
      <div class="wrapper">
            <div class="header" id="header">
                  <div class="headermenubutton"  onclick="toggleNav()">
                    <i class="glyphicon glyphicon-th-list" ></i>
                  </div>
                  <div class="headertitletext">
                    Keung's Shop
                  </div>
                  <div class="headerusertext">
                    Hi! User!
                  </div>
            </div>
            

            <div class="mainpage" >
                    <div class="sidebar" id="sidebar">             
                           
                            <div>
                                <a href= "../../home.html"  style="text-decoration:none;"  class="menuitem" ><i class="fas fa-home"></i>&emsp;Home</a>
                                <a href= "../../game.html"  style="text-decoration:none;" class="menuitem" ><i class="fas fa-gamepad"></i>&emsp;Game</a>
                                <a href= "../../film.html"  style="text-decoration:none;" class="menuitem" ><i class="fas fa-film"></i>&emsp; Film</span></a>
                                <a href= "../../food.html"  style="text-decoration:none;" class="menuitem" ><i class="fas fa-pizza-slice"></i>&emsp;Food</span></a>
                                <a href= "../../mobile.html"  style="text-decoration:none;" class="menuitem" ><i class="fas fa-mobile-alt"></i>&emsp; Mobile </span></a>   
                            </div>
                            <div>
                                <div class="menuitem" >
                                  <i class="fas fa-sign-out-alt"></i>&emsp;Logout
                                </div>  
                            </div>                
                    </div>

                    <div class="maincontent" id="maincontent">
                        <div class="shoppinglistarea">
                            <div class="shoppinglistdetail"><i class="fas fa-shopping-cart"></i>&emsp;My Shopping list: $12150
                                <div class="shoppingpopup">
                                  <span class="eachdetail">PS4 x1 $2000</span>
                                  <span class="eachdetail">Ironman x1 $100</span>
                                  <span class="eachdetail">Beef x1 $50</span>
                                  <span class="eachdetail">IPhoneX x1 $10000</span>
                                  <span class="eachdetail" style="border-top-color: black;border-top-width: 2px;border-top-style: solid">Total: $12150</span>
                                </div>
                            </div>
                            <div><i class="far fa-money-bill-alt"></i>&emsp;Checkout</div>
                        </div>
                        <div class="productarea">
                          <div class="productdirectory">
                            <a href= "../../home.html">Home</a>
                            <span>/</span>
                            <a href= "../../food.html">Food</a>
                            <span>/</span>
                            <a href= "./noodles.html">Cup Noodles</a>
                          </div>
                          <div class="producttop">
                              <div class="producttopleft">
                                  <img src="../../../public/images/food/cupnoodle.jpg" class="producttopleftimage"/>
                                  <a href="#noodlesfull"class="imageenlarge"><i class="fas fa-search-plus"></i></a>
                                  <div class="fullimage" id="noodlesfull">
                                      <img src="../../../public/images/food/cupnoodle.jpg"/>
                                      <a class="fullimageclose" href="#"></a>
                                  </div>
                              </div>
                              <div class="producttopright">
                                <span class="producttoprighttitle">Cup Noodles</span>
                                <span class="producttoprightprice">$10</span>
                                <div class='numberrow'>
                                  <button class='addnumber' onclick="productadd('noodlesnumber')">+</button>
                                  <input type='text' class='enternumber' id="noodlesnumber" value=0 onchange="checknumber(this.id)"/>
                                  <button class='minusnumber' onclick="productminus('noodlesnumber')" >-</button>
                                </div>
                              </div>
                          </div>
  
                          <div class="productbottom">
                              <span class="productbottomtitle">Product Specification</span>
                              <table class="spectable">
                                  <tr class="spectablerow">
                                    <td class="spectableheader">Integients</td>
                                    <td class="spectablecontent"> EGG WHITE, GARLIC POWDER</td>
                                  </tr>
  
                                  <tr class="spectablerow">
                                      <td class="spectableheader">Brand</td>
                                      <td class="spectablecontent">Nissin</td>
                                  </tr>
  
                                  <tr class="spectablerow">
                                      <td class="spectableheader">Dimensions</td>
                                      <td class="spectablecontent">/</td>
                                  </tr>
                              </table>
                          </div>
  
                        </div>
                    </div>
                        
                 </div>
              </div>
        </body>
        <script src="../../../javascripts/main.js"></script>
        <script src="https://kit.fontawesome.com/53121c113e.js"></script>
    </html>