@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.wrapper{
    height:100%;
    width:100%;
}

.centerarea{
    align-items: center;
    justify-items: center;
    flex:2;
    display: flex;
    flex-direction: column;
    padding-top: 50;
    
}
.title{
    font-family: 'Titillium Web';
    font-size: 40;
}
.formarea{
    align-items: center;
    justify-items: center;
    flex:8;
    display: flex;
    flex-direction: column;
    padding-top: 50;
    font-family: 'Titillium Web';
    font-size: 20;
}