<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../stylesheets/mainpage.css">
        <title>Keung's Shop</title>
    </head>

    <body >
            <div class="wrapper">
                    <div class="header" id="header">
                        
                            <div class="headermenubutton"  onclick="toggleNav()">
                                <i class="glyphicon glyphicon-th-list" ></i>
                              </div>
                              <div class="headertitletext">
                                Keung's Shop
                              </div>
                              <div class="headerusertext">
                                Hi! User!
                              </div>
                        </div>
                         
                   
        
                    <div class="mainpage" >
                            <div class="sidebar" id="sidebar">             
                                   
                                    <div>
                                        <a href= "./home.html"  style="text-decoration:none;"  class="menuitem" ><i class="fas fa-home"></i>&emsp;Home</a>
                                        <a href= "./game.html"  style="text-decoration:none;" class="menuitem" ><i class="fas fa-gamepad"></i>&emsp;Game</a>
                                        <a href= "./film.html"  style="text-decoration:none;" class="menuitem" ><i class="fas fa-film"></i>&emsp; Film</span></a>
                                        <a href= "./food.html"  style="text-decoration:none;" class="menuitem" ><i class="fas fa-pizza-slice"></i>&emsp;Food</span></a>
                                        <a href= "./mobile.html"  style="text-decoration:none;" class="menuitem" ><i class="fas fa-mobile-alt"></i>&emsp; Mobile </span></a>   
                                    </div>
                                    <div>
                                        <div class="menuitem" >
                                          <i class="fas fa-sign-out-alt"></i>&emsp;Logout
                                        </div>  
                                    </div>                
                            </div>
        
                            <div class="maincontent" id="maincontent">
                                <div class="shoppinglistarea">
                                    <div class="shoppinglistdetail"><i class="fas fa-shopping-cart"></i>&emsp;My Shopping list: $12150
                                        <div class="shoppingpopup">
                                          <span class="eachdetail">PS4 x1 $2000</span>
                                          <span class="eachdetail">Ironman x1 $100</span>
                                          <span class="eachdetail">Beef x1 $50</span>
                                          <span class="eachdetail">IPhoneX x1 $10000</span>
                                          <span class="eachdetail" style="border-top-color: black;border-top-width: 2px;border-top-style: solid">Total: $12150</span>
                                        </div>
                                    </div>
                                    <div><i class="far fa-money-bill-alt"></i>&emsp;Checkout</div>
                                </div>
                                <div class="productlist">
                                        <div class="productdetail">
                                                <div class="eachproductdetail">
                                                    <span class="producttitle">PS4</span>
                                                </div>
                                                <a class="eachproductdetail" href="./product/game/ps4.html">
                                                    <img src="../public/images/game/ps4.png" class="productimage"/>
                                                </a>
                                                <div class="eachproductdetail">
                                                    <span class="productprice">$2000</span>
                                                </div>
                                                <div class="eachproductdetail" id="gamecart1">
                                                    <button class="addtocart" onclick="gameaddcart1()">Add</button>
                                                </div>
                                        </div>
                                
                                
                                        <div class="productdetail">
                                                <div class="eachproductdetail">
                                                    <span class="producttitle">Switch</span>
                                                </div>
                                                <a class="eachproductdetail" href="./product/game/switch.html">
                                                    <img src="../public/images/game/switch.jpg" class="productimage"/>
                                                </a>
                                                <div class="eachproductdetail">
                                                    <span class="productprice">$2500</span>
                                                </div>
                                                <div class="eachproductdetail" id="gamecart2">
                                                    <button class="addtocart" onclick="gameaddcart2()">Add</button>
                                                </div>
                                        </div>
        
                                        <div class="productdetail">
                                                <div class="eachproductdetail">
                                                    <span class="producttitle">XBox One</span>
                                                </div>
                                                <a class="eachproductdetail" href="./product/game/xbox.html">
                                                    <img src="../public/images/game/xboxone.jpg" class="productimage"/>
                                                </a>
                                                <div class="eachproductdetail">
                                                    <span class="productprice">$1900</span>
                                                </div>
                                                <div class="eachproductdetail" id="gamecart3">
                                                    <button class="addtocart" onclick="gameaddcart3()">Add</button>
                                                </div>
                                        </div>   
                                </div>
                            </div>
                                
                    </div>
                
                  </div>
           
      
    </body>
    <script src="../javascripts/main.js"></script>
    <script src="https://kit.fontawesome.com/53121c113e.js"></script>
</html>
</html>